.wp-list-table .ui-sortable-placeholder {
	background: #f1f1f1;
	outline: 1px dashed #bbb;
	visibility: visible !important;
}

.wp-list-table .ui-sortable-helper {
	background-color: #fff;
	outline: 1px solid #e1e1e1;
}

.wp-list-table .ui-sortable tr {
	cursor: move;
}

.wp-list-table .ui-sortable tr.inline-editor,
.re-ordering-row {
	cursor: default;
}

.re-ordering-row .check-column {
	background: url(../../../../wp-admin/images/spinner.gif) 10px 9px no-repeat;
}

.re-ordering-row .check-column input {
	visibility: hidden;
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	.re-ordering-row .check-column {
		background-image: url(../../../../wp-admin/images/spinner-2x.gif);
		background-size: 20px 20px;
	}
}
